[Unit]
Description=Register and unregister service in Zookeeper
After=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/default/zoosync
ExecStart=/usr/bin/zoosync -s ${SERVICES} register
ExecStop=/usr/bin/zoosync -s ${SERVICES} unregister
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
